.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F7E1D7;
}

.titleText {
  font-size: calc(10px + 10vmin);
  color: #94E8B4;
  margin-top: 0;
  margin-bottom: 10vmin;
}


#buttons {
  display: flex;
  width: 400px;
  margin:0 auto;
  text-align: center;
}
